{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">User Profile</h1>
        <div class="content">
            <h2>Welcome, {{ user.username }}!</h2>
            <p><strong>Role:</strong> {{ user.role.capitalize() }}</p>
            <!-- Add more user-specific details here -->
        </div>
        <a href="{{ url_for('logout') }}" class="button is-danger">Logout</a>
    </div>
</section>

{% endblock %}